<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestNG sampler" parallel="classes" thread-count="2">
    <listeners>
        <listener class-name="utils.TestListener"/>
        <listener class-name="utils.AnnotationTransformer"/>
    </listeners>
    <test name="TestNG one">
        <classes>
            <class name="tests.LoginTest"/>
            <class name="tests.WorkoutAddTest"/>
        </classes>
    </test> <!-- Test -->
</suite>